.header{
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.25rem;
}

.header img{
    height: 2rem;
}

.header p{
    color: var(--gray-100);
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 700;
    padding-left: 1rem;
}